@model WebSite.Models.Client.ClientVM

@{
	this.Layout = "_Layout";
	ViewData["title"] = "Details";
}

<section class="vh-50" style="background-color: yellow;">
  @Html.HiddenFor(m => m.ClientID)
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="/images//60111.jpg"
                class="rounded-circle img-fluid" style="width: 100px;" />
            </div>
            <h4 class="mb-2">@Model.FirstName @Model.LastName</h4>
            <p class="text-muted mb-4">@Model.City <span class="mx-2">|</span> <a
                href="#!">@Model.Email</a></p>
            <div class="mb-4 pb-2">
              
              <button type="button" class="btn btn-outline-primary btn-floating">
                  @Html.ActionLink("Edit", "Edit", new { id = Model.ClientID })
              </button>
              <button type="button" class="btn btn-outline-primary btn-floating">
                   @Html.ActionLink("Delete", "Delete", new { id = Model.ClientID }, new { onclick = "return confirm('Delete client?');" })
              </button>
            </div>
            <button type="button" class="btn btn-primary btn-rounded btn-warning">
               
               <a href="@Url.Action("CheckRoomAvailability", "Booking", new { clientId = Model.ClientID })">Make Booking</a>

            </button>
            <div class="d-flex justify-content-between text-center mt-5 mb-2">
              <div>
                <p class="mb-2 h5">...or just call: </p>
                <p class="text-muted mb-0">@Model.Phone</p>
              </div>
                
              
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>