@model WebSite.Models.Booking.BookingViewVM

@{
    ViewBag.Title = "Bookings";
}

<h2>Bookings</h2>


<table class="table">
    <tr>
        <th>
            <p>CheckInDate</p>
        </th>
        <th>
            <p>CheckOutDate</p>
        </th>
        <th>
            <p>TotalCost</p>
        </th>
        <th>
            <p>PaymentStatus</p>
        </th>
        <th></th>
    </tr>
    

@foreach (var item in Model.List) {
    <tr>
        <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
           

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@{
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();

    string action = this.ViewContext.RouteData.Values["action"].ToString();

    string formStatePager = "?";
    string formStateItemsPerPage = "?";
    foreach (string key in this.ViewContext.HttpContext.Request.Query.Keys)
    {
        if (key != "Pager.Page")
        {
            formStatePager += $"{key}={this.ViewContext.HttpContext.Request.Query[key]}$";
        }

        if (key != "Pager.Page" && key != "Pager.ItemsPerPage")
        {
            formStateItemsPerPage += $"{key}={this.ViewContext.HttpContext.Request.Query[key]}$";
        }
    }
}

@for (int i = 1; i <= Model.Pager.PageCount; i++)
{
    <a href="?Pager.ItemsPerPage=@Model.Pager.ItemsPerPage&Pager.Page=@i">@i</a>
}



<script>
    function ddlItemsPerPage_OnChange() {

        let control = document.getElementById("ddlItemsPerPage");
        document.location.href = "/@controller/@action?@formStateItemsPerPage&Pager.ItemsPerPage=" + control.value;
    }

    //hook-ваме се на определен event 'load' (ключ на event) =>изпълнява се ламбдата
    window.addEventListener('load', (event) => {
        if (@Model.Pager.ItemsPerPage == 3) {
            document.getElementById("ddlItemsPerPage").selectedIndex = 1;
        } else if (@Model.Pager.ItemsPerPage == 5) {
            document.getElementById("ddlItemsPerPage").selectedIndex = 2;
        }
        else if (@Model.Pager.ItemsPerPage == 10) {
            document.getElementById("ddlItemsPerPage").selectedIndex = 3;
        }
    });
</script>




<select id="ddlItemsPerPage" onchange="ddlItemsPerPage_OnChange()">
    <option value="" disabled selected>Select option</option>
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
</select>
